@model List<BHAS.DbFirst.Employee>
@{
    ViewBag.Title = "Zapolenici";
}

<h2>Zaposlenici</h2>


<table class="table table-bordered table-hover table-striped">
    <thead class="table-dark">
        <tr>
            <th>Ime</th>
            <th>Prezime</th>
            <th>JMBG</th>
            <th>Pozicija</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var emp in Model)
        {
            <tr>
                <td>@emp.FirstName</td>
                <td>@emp.LastName</td>
                <td>@emp.JMBG</td>
                <td>@emp.Position</td>
                <td>@emp.Email</td>
                <td>
                    @Html.ActionLink("Detalji", "Details", "Employee",
                                        new { id = emp.EmployeeID },
                                        new { @class = "btn btn-sm btn-info" })
                </td>
            </tr>
        }
    </tbody>
</table>
