@model List<BHAS.DbFirst.Employee>

@{
    ViewBag.Title = "Pretraga zaposlenika";
}

<h2>Pretraga zaposlenika</h2>

@using (Html.BeginForm("SearchEmployees","StoredProc",FormMethod.Get))
{
    <div class="row mb-3">
        <div class="col-md-3">
            @* drop-down *@
            <label class="form-label">Odjel</label>
            @Html.DropDownList("deptId", (SelectList)ViewBag.DepartmentID, "-- odaberi odjel --", new { @class = "form-control" })
        </div>

        <div class="col-md-2">
            @* min. plata *@
            <label class="form-label">Min. plata</label>
            <input type="number" name="min" id="min" value="@Request.QueryString["min"]" 
                   class="form-control" placeholder="npr. 100" />
        </div>

        <div class="col-md-2">
            <label class="form-label">Max. plata</label>
            <input type="number" name="max" id="max" value="@Request.QueryString["max"]" 
                   class="form-control" placeholder="npr. 15000" />
        </div>

        <div class="col-md-2">
            <button type="submit" 
                    class="btn btn-primary">Pretraži</button>
        </div>
    </div>
}

@Html.Partial("_EmployeesShared", Model)

<div style="margin-top: 15px;">
    @Html.ActionLink("Nazad", "Index", null, new { @class = "btn btn-sm btn-secondary" })

</div>