@model BHAS.DbFirst.Department
@{
    ViewBag.Title = "Detalji odjela";
}

<h2>Detalji odjela</h2>

<div class="card" style="max-width: 600px;">
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-4">Naziv odjela</dt>
            <dd class="col-sm-8">@Model.DepartmentName</dd>

            <dt class="col-sm-4">Šifra odjela</dt>
            <dd class="col-sm-8">@Model.DepartmentCode</dd>

            <dt class="col-sm-4">Budžet</dt>
            <dd class="col-sm-8">@Model.Budget</dd>
            @if(Model.Employee != null)
            {
            <dt class="col-sm-4">Menadžer</dt>
            <dd class="col-sm-8">@Model.Employee.FirstName @Model.Employee.LastName</dd>
            }
            <dt class="col-sm-4">Datum kreiranja</dt>
            <dd class="col-sm-8">
                @(Model.CreatedDate.HasValue
                        ? Model.CreatedDate.Value.ToString("dd.MM.yyyy")
                        : "----")
            </dd>

            <dt class="col-sm-4">Datum kreiranja</dt>
            <dd class="col-sm-8">
                @(Model.ModifiedDate.HasValue
                        ? Model.ModifiedDate.Value.ToString("dd.MM.yyyy")
                        : "----")
            </dd>
        </dl>
    </div>
</div>

@*  Tabela zaposlenih  *@

<div style="margin-top:15px;">
    <h2>Zaposleni</h2>

    @Html.Partial("_EmployeesShared", Model.Employees.ToList())

</div>
<div style="margin-top:15px;">
    @Html.ActionLink("Nazad", 
                        "Index", 
                        null, 
                        new { @class = "btn btn-sm btn-secondary" })

    @if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
    {
        @Html.ActionLink("Novi zaposleni",
                            "Create",
                            "Employee",
                            null,
                            new {@class="btn btn-sm btn-danger"})
    }
</div>
